<div id="body" fxLayout="column" fxLayoutGap="20px">

  <span fxFlex="20px"></span>



  <div id="banner" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="20px">

    <mat-card fxFlex="70%" id="map">
      <mat-toolbar >
          <span>Kaduna State</span>
      </mat-toolbar>
      <img matCardImage src="../../../../assets/kaduna.svg" style="height: 80%; width: 80%">
    </mat-card>

    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="space-between">
      <mat-card fxFlex="20%">
        A
      </mat-card>

      <mat-card mat-card fxFlex="20%">
        B
      </mat-card >

      <mat-card mat-card fxFlex="20%">
        C
      </mat-card>

      <mat-card mat-card fxFlex="20%">
        D
      </mat-card>
    </div>

  </div>

  <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px">

    <mat-card fxFlex.gt-xs="25%" class="pill">

    </mat-card>

    <mat-card fxFlex.gt-xs="25%" class="pill">

    </mat-card>

    <mat-card fxFlex.gt-xs="25%" class="pill">

    </mat-card>

    <mat-card fxFlex.gt-xs="25%" class="pill">

    </mat-card>
  </div>

  <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center" fxLayoutGap.gt-xs="20px">

    <mat-card fxFlex.gt-xs="60%" class="pill">

    </mat-card>

    <mat-card fxFlex.gt-xs="40%" class="pill">

    </mat-card>

  </div>

  </div>
