.card{
  padding: 20px;
}
.pills{
  border-radius: 100px;
  height: 60px;
  .icon{
    aspect-ratio: 1/1;
    border-radius: 100px;
    background-color: #ffffff;
  }
  #all{
    background-image: url('../../../../assets/total.svg');
    background-size: cover;
  }
  #completed{
    background-image: url('../../../../assets/completed.svg');
    background-size: cover;
  }
  #ongoing{
    background-image: url('../../../../assets/ongoing.svg');
    background-size: cover;
  }
  #stopped{
    background-image: url('../../../../assets/stopped.svg');
    background-size: cover;
  }
  .div{
    padding: 10px;
    text-align: center;
  }
}
svg{
  fill:rgb(255, 169, 19);
  path{
    fill: #303030;
    stroke:#686868;
    stroke-width:1.0;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    transform-origin: 50% 50%;
    transition: 1.5s;;
    cursor: pointer;
  }
  path:hover{
    fill: #ffa82e;
    transform: scale(105%);
  }
}

mat-card{
  padding: 0px;
  background-color: #ffa82e;
  mat-card-header{
    padding: 10px 5px;
  }
}

mat-nav-list{
  mat-list-item:nth-child(odd) {
    background-color: #303030;
    color: white;
  }
}

#parent{
  padding: 30px;
}
