<div style="width: 100%; min-height: 100%; padding: 20px;" fxLayout="column" fxLayoutGap="20px">

  <!-- Stats -->
  <!--<div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-around">

    <mat-card fxFlex.sm="50%">
      <mat-card-content>
        <h1>Ongoing</h1>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.sm="50%">
      <mat-card-content>
        <h1>Ongoing</h1>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.sm="50%">
      <mat-card-content>
        <h1>Ongoing</h1>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.sm="50%">
      <mat-card-content>
        <h1>Ongoing</h1>
      </mat-card-content>
    </mat-card>

  </div>-->

  <!-- Map & chart-->

  <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">

    <mat-card fxFlex.gt-sm="1 1 auto">
      <mat-card-header>
        <mat-card-title>Kaduna State</mat-card-title>
      </mat-card-header>
      <!--<img mat-card-image src="./assets/kaduna.svg">-->
      <mat-card-content>
        <app-state-map></app-state-map>
      </mat-card-content>
    </mat-card>

    <div fxFlex.gt-xs="240px" fxLayout.xs="row" fxLayout.gt-xs="column" fxLayoutAlign="space-between">

      <mat-card class="stat">
        <mat-toolbar color="primary">
          On-going
        </mat-toolbar>
        <mat-card-content>
          <span class="mat-display-1">0</span>
        </mat-card-content>
      </mat-card>

      

    </div>

  </div>

</div>
