<div style="width: 100%; min-height: 100%; padding: 20px;" fxLayout="column" fxLayoutGap="10px">

  <!-- Stats -->
  <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-around">

    <mat-card fxFlex.sm="50%">
      <mat-card-content>
        <h3>Ongoing</h3>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.sm="50%">
      <mat-card-content>
        <h3>Ongoing</h3>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.sm="50%">
      <mat-card-content>
        <h3>Ongoing</h3>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.sm="50%">
      <mat-card-content>
        <h3>Ongoing</h3>
      </mat-card-content>
    </mat-card>

  </div>

  <!-- Map & chart-->

</div>
