#body{
  width: 100%;
  min-height: 100%;
  #banner{
    aspect-ratio: 16/6;
    #map{
      padding: 0px;
      svg{
        position: absolute;
        cursor: pointer;
      }
    }
  }
  .pill{
    border-radius:0px;
    aspect-ratio: 19/6;
    padding: 5px 15px;
    cursor: pointer;
    .mat-card-subtitle{
      color: grey;
    }
  }
  #card1{
    //background: linear-gradient(#339b50, rgb(181, 247, 175));
    color: #2f5683;
  }
  #card2{
    //background: linear-gradient(#86acd8, #3f658f);
    color: grey;
  }
  #card3{
    color:grey;
  }
  #card4{
    color: grey;
  }
}

#banner{
  #map{
    #toolbar{
      //background-color: #2f5683;
      border-bottom: 1px solid #2f5683;
      color: #2f5683;
      height: 40px !important;
    }
  }

  .side-card{
    background-color: white;
    color: grey;
  }
}

svg{
  fill:green;
  path{
    fill: #bbdefb;
    stroke:#ffffff;
    stroke-width:1.0;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    transform-origin: 50% 50%;
    transition: 1.5s;;
  }
  path:hover{
    fill: #004ba0;
    transform: scale (1.5);
  }
}

.cards{
  padding: 0px;
  aspect-ratio: 16/9;
  .mat-toolbar{
    border-bottom: 1px solid #2f5683;
    color: #2f5683;
    height: 40px !important;
  }
}

.activities:nth-child(even){
  background-color: rgb(218, 239, 255);
}


progress::-webkit-progress-value{
  color: pink;
  background-color: #ffffff;
}
