#body{
  width: 100%;
  min-height: 100%;
  #banner{
    aspect-ratio: 5/2;
    #map{
      padding: 0px;
    }
  }
  .pill{
    aspect-ratio: 19/9;
    background-color: #666666;
  }
}

svg{
  fill:green;
  path{
    fill: #cccccc;
    stroke:#ffffff;
    stroke-width:1.0;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    transition: 1.25s;;
  }
  path:hover{
    fill: #424242;
  }
}
