<div class="main" fxLayout="column">
  <mat-toolbar color="primary" style="min-height: 40px !important; height: 30px !important;">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span  class="mat-caption">ProMon V1.0</span>
      <span fxFlex="1 1"></span>
      <div id="search" style="" fxLayout="row">
      <input type="text" placeholder="search">
      <mat-icon color="primary">search</mat-icon>
      </div>
      &nbsp;
      <span class="mat-caption">Abdulaziz Ladan</span>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" color="primary">
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Logout
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlex="1 1 auto" class="sidenav-container">
    <mat-sidenav opened #sidenav fxLayout="column" color="primary" class="sidenav">
      <div id="profile-window" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div id="profile-pic">

        </div>
        <span class="mat-caption">Abdulaziz Ladan</span>
      </div>
      <button color="accent" mat-flat-button routerLink="./" (click)="sidenav.toggle()">
        <mat-icon>dashboard</mat-icon>
        &nbsp; Dashboard
      </button>
      <button color="accent" mat-flat-button routerLink="./projects" (click)="sidenav.toggle()">
        <mat-icon>business_center</mat-icon>
        &nbsp; Projects
      </button>
      <button color="accent" mat-flat-button routerLink="./contractors" (click)="sidenav.toggle()">
        <mat-icon>business</mat-icon>
        &nbsp; Contractors
      </button>
      <button color="accent" mat-flat-button routerLink="./users" (click)="sidenav.toggle()">
        <mat-icon>people</mat-icon>
        &nbsp; Users
      </button>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="row" fxLayoutAlign="center">
      <div fxFlex.lt-lg="100%" fxFlex.gt-sm="1024px">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
