<div class="main" fxLayout="column">
  <mat-toolbar color="primary" style="min-height: 40px !important; height: 30px !important;">
    <mat-toolbar-row>
      <button color="accent" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span color="accent" class="mat-caption">ProMon V1.0</span>
      <span fxFlex="1 1"></span>
      <button mat-icon-button>
        <mat-icon color="accent">notifications</mat-icon>
      </button>
      <span fxFlex="20px"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon color="accent">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" color="primary">
        <button mat-menu-item color="accent">
            <mat-icon color="accent">exit_to_app</mat-icon>
            Logout
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlex="1 1 auto" class="sidenav-container">
    <mat-sidenav #sidenav fxLayout="column" color="primary" class="sidenav">
      <button color="accent" mat-button routerLink="./" (click)="sidenav.toggle()">
        <mat-icon>table_chart</mat-icon>
        Dashboard
      </button>
      <button color="accent" mat-button routerLink="./projects" (click)="sidenav.toggle()">
        <mat-icon>business_center</mat-icon>
        Projects
      </button>
      <button color="accent" mat-button routerLink="./contractors" (click)="sidenav.toggle()">
        <mat-icon>business</mat-icon>
        Contractors
      </button>
      <button color="accent" mat-button routerLink="./users" (click)="sidenav.toggle()">
        <mat-icon>people</mat-icon>
        Users
      </button>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
