<h1 matDialogTitle>Add Contractor</h1>
<mat-dialog-content fxLayout="column" fxLayoutGap="10px" [formGroup]="addContractorForm">

  <mat-form-field appearance="outline">
    <mat-label>Contractor name</mat-label>
    <input formControlName="name" matInput name="title">
  </mat-form-field>

  <div fxLayout="column" fxLayoutGap="10px" formGroupName="contact">

    <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input matInput name="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>phone number</mat-label>
      <input matInput name="phone" formControlName="phone">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>phone number</mat-label>
      <input matInput name="website" formControlName="website">
    </mat-form-field>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="start">
  <button mat-flat-button color="warn" matDialogClose>Close dialog</button>
  <button mat-flat-button color="accent" [disabled]="addContractorForm.invalid" (click)="submit()">Create</button>
</mat-dialog-actions>
