<h1 matDialogTitle>Add Project</h1>

<mat-dialog-content fxLayout="column" fxLayoutGap="10px" [formGroup]="addProjectForm">

  <mat-form-field appearance="outline">
    <mat-label>Project title</mat-label>
    <input formControlName="title" matInput name="title">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Project description</mat-label>
    <textarea formControlName="description" rows="4" matInput name="description"></textarea>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="10px">

    <mat-form-field fxFlex="50%" appearance="outline">
      <mat-label>Country</mat-label>
      <mat-select name="country">
        <mat-option value="nigeria">Nigeria</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="50%" appearance="outline">
      <mat-label>State</mat-label>
      <mat-select name="state">
        <mat-option value="abia">abia</mat-option>
        <span fxFlex="1 1 auto"></span>
        <mat-option value="adamawa">adamawa</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex="50%" appearance="outline">
      <mat-label>LGA</mat-label>
      <mat-select name="lga">
        <mat-option value="nigeria">Nigeria</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Street address</mat-label>
    <textarea matInput rows="4">

    </textarea>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="10px">

    <mat-form-field fxFlex="50%" appearance="outline">
      <mat-label>Longitude</mat-label>
      <input matInput name="latitude">
    </mat-form-field>

    <mat-form-field fxFlex="50%" appearance="outline">
      <mat-label>Latitude</mat-label>
      <input matInput name="latitude">
    </mat-form-field>
  </div>


</mat-dialog-content>

<mat-dialog-actions align="start">
    <button mat-flat-button color="warn" matDialogClose>Close dialog</button>
    <button mat-flat-button color="accent" [disabled]="addProjectForm.invalid" (click)="submit()">Create</button>
</mat-dialog-actions>
