<div fxLayout="column" fxLayout="15px">

  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field appearance="outline" fxFlex="1 1 auto">
        <mat-label align="end">Search</mat-label>
        <input matInput>
        <mat-icon marSuffix>search</mat-icon>
      </mat-form-field>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span fxFlex="100%"></span>
      <mat-select>
        <mat-option value="All" select>All</mat-option>
        <mat-option value="resolved">Resolved</mat-option>
        <mat-option value="pending">Pending</mat-option>
      </mat-select>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
